@{
    ViewBag.Title = "Over Zuma BlueJay";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<h3>Pagina voor omschrijving Zuma BlueJay.</h3>

<p>Deze paragraaf is bedoeld voor extra informatie.</p>
