@{
    ViewBag.Title = "Startpagina - " + User.Identity.Name;
}

<div class="jumbotron">
    <h1>Welkom <span style="font-style:italic">@User.Identity.Name</span></h1>
    <p class="lead">Zuma BlueJay is het digitale vervolg op het heen-en-weer-schriftje.</p>
</div>